{% extends 'myapp/base.html' %}

{% block content %}
<script type="text/javascript">
    // var a = "{{json_a|escapejs}}";

    // 데이터 변수 선언 => 여기서는 datas_set으로 데이터 변수를 받는다
    var data_set = "{{datas_set|escapejs}}";
    var data_set_json = JSON.parse(data_set)
    console.log(data_set_json);
</script>

    <main>
        <h1>메인 부분 내용입력</h1>

        <p>xptmxmdlqslek</p>
<!-- ***************************************** -->
        <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    DataTable Example1
                </div>
                <div class="card-body">
                    <table border='1'>
                        <tr>
                            <th>test1</th>
                            <th>test2</th>
                        </tr>
                        
                        <tr>
                            <td>test1 data</td>
                            <td>test2 data</td>
                        </tr>
                    </table>
                </div>

                <div class="card-body">
                    <table border='1'>
                        <tr>
                            <th>test1-1</th>
                            <th>test2-2</th>
                        </tr>
                        
                        <tr>
                            <td>test1-1 data</td>
                            <td>test2-1 data</td>
                        </tr>
                    </table>
                </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Example2
            </div>
            <div class="card-body">
                <table border='1'>
                    <tr>
                        <th>test1</th>
                        <th>test2</th>
                    </tr>
                    
                    <tr>
                        <td>test1 data</td>
                        <td>test2 data</td>
                    </tr>
                </table>
            </div>

            <div class="card-body">
                <table border='1'>
                    <tr>
                        <th>test1-1</th>
                        <th>test2-2</th>
                    </tr>
                    
                    <tr>
                        <td>test1-1 data</td>
                        <td>test2-1 data</td>
                    </tr>
                </table>
            </div>
    </div>
        
<!-- ***************************************** -->
    </main>
{% endblock %}