{% extends 'myapp/base.html' %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="main_text"></h1>
        <ol class="breadcrumb mb-4">
            <li class="sub_main_text" style="display:none;">ㅤ[Dashboard </li>
        </ol>
        <p style="display:none;">환율<br>
            <span class="exchange-rate"></span> 원달러
        </p>
        <!-- 공포탐욕, 강도 지수, 시장 트랜드, 비트코인 도미넌스 -->
        <div class="row">
            <div class="col-xl-2 col-md-3">
                <div class="card bg-secondary text-white mb-4">
                    <div class="card-body">공포 / 탐욕 지수<br>
                        <span style="color:white; font-weight:bold" id="FearAndGreedData">-</span>
                        <span style="color:white; font-weight:bold" id="FearAndGreedData_End"> %</span>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        
                        <buttom class="small btn btn-link text-white stretched-link" id="dashbordObject_1">
                        </buttom>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-2">
                <div class="card bg-secondary text-white mb-4">
                    <div class="card-body">상대 강도 지수<br>
                        <span style="color:white; font-weight:bold" id="RsiIndexOf30Minutes">-</span>
                        <span style="color:white; font-weight:bold" id="RsiIndexOf30Minutes_End"> %</span>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        
                        <buttom class="small btn btn-link text-white stretched-link" id="dashbordObject_2">
                            <!-- 프로그래스 이미지 넣기 -->
                        </buttom>                                        
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-2">
                <div class="card bg-secondary text-white mb-4">
                    <div class="card-body">시장 트랜드 | 생명선<br>
                        <span style="color:white; font-weight:bold" id="TrendIndexOfMarket">-</span>
                        <span style="color:white; font-weight:bold" >|</span>
                        <span style="color:white; font-weight:bold" id="LifeIndexOfMarket">-</span>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <buttom class="small btn btn-link text-white stretched-link" id="dashbordObject_3">
                            <!-- 프로그래스 이미지 넣기 -->
                        </buttom>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-md-7">
                <div class="card bg-secondary text-white mb-4">
                    <div class="card-body">[비트코인 | 이더리움 | 바이낸스코인 | USDT | USDC] 도미넌스 (%)<br>
                        <span style="color:white; font-weight:bold" id="DominaceIndecOfBtc">-</span>
                        <span style="color:white; font-weight:bold" > | </span>
                        <span style="color:white; font-weight:bold" id="DominaceIndecOfEth">-</span>
                        <span style="color:white; font-weight:bold" > | </span>
                        <span style="color:white; font-weight:bold" id="DominaceIndecOfBnb">-</span>
                        <span style="color:white; font-weight:bold" > | </span>
                        <span style="color:white; font-weight:bold" id="DominaceIndecOfUSDT">-</span>
                        <span style="color:white; font-weight:bold" > | </span>
                        <span style="color:white; font-weight:bold" id="DominaceIndecOfUSDC">-</span>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        
                        <buttom class="small btn btn-link text-white stretched-link" id="dashbordObject_4">
                            <!-- 프로그래스 이미지 넣기 -->
                        </buttom>                                        
                    </div>
                </div>
            </div>
        </div>
        <!-- 테스트 그래프 -->
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        <span id="index_dashboradchart1">테스트입니다.</span>
                    </div>
                    <div class="card-body">
                        <canvas id="myAreaChart" width="100%" height="40"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top 10 상승률 테이블  -->
        <div class="row">
            <!-- 현물 Top 10 table -->
            <div class="col-xl-5">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        현물 상승률 Top 10
                    </div>
                    <div class="card-body">
                        <table class='dataTable-table' id="spot_top_10_table">
                            <thead>
                                <tr id='spot_top_10_tr'>
                                    <th>암호화폐 (약어)</th>
                                    <th>가격 (₩ KRW)</th>
                                    <th class="desc">상승률 (%)</th>
                                </tr>
                            </thead>
                            <tbody id="spot_top_10_table_body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 선물 Top 10 table -->
            <div class="col-xl-5">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        선물 상승률 Top 10
                    </div>
                    <div class="card-body">
                        <table class='dataTable-table' id="future_top_10_table">
                            <thead>
                                <tr id="future_top_10_tr">
                                    <th>암호화폐 약어</th>
                                    <th>가격 ($ USDT)</th>
                                    <th class="desc">상승률 (%)</th>
                                </tr>
                            </thead>
                            <tbody id="future_top_10_table_body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- 김치 프리미엄 table -->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                김치 프리미엄 확인하기 (현물 기준) : 초록이면 한국이 비쌈, 빨강색이면 해외가 비쌈
            </div>
            <div class="card-body">
                <table class='dataTable-table' id="coin_premium_lists_table">
                    <thead>
                        <tr id="premium_tr">
                            <th>암호화폐 (약어)</th>
                            <th>현물 가격 (₩ KRW)</th>
                            <th>해외 가격 ($ USDT)</th>
                            <th>김치 프리미엄 (%)</th>
                        </tr>
                    </thead>
                    <tbody id="coin_lists_table_body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Leon</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>
{% block jsfile %}
    <!-- 함수들 모음(먼저 실행하지 않음) -->
    <script src="/static/js/functions_scripts.js" type="text/javascript"></script>
    <!-- api관련 :  공포 탐욕 -->
    <script src="/static/js/dashboard_api_scripts.js" type="text/javascript"></script>
    <!-- 공통 부분 관련 : 타이핑 효과, 환율 업데이트, 업비트 바이낸스 티커 정보 받기 -->
    <script src="/static/js/dashboard_same.js" type="text/javascript"></script>
    <!-- 소켓 부분 관련 -->
    <script src="/static/js/dashboard_socket.js" type="text/javascript"></script>
    <!-- 메인 대시보드 데이터처리 관련-->
    <script src="/static/js/main_dashboard_data.js" type="text/javascript"></script>
    <!-- 메인 대시보드 페이지 화면의 이벤트 관련 -->
    <script src="/static/js/main_dashboard_page.js" type="text/javascript"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/assets/chart-area-demo.js" type="text/javascript"></script>
    
    <!-- <script src="/static/js/datatables-simple-demo.js" type="text/javascript"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script> -->
    <!-- <script src="/static/js/assets/chart-bar-demo.js" type="text/javascript"></script> -->
{% endblock %}
